@import "./basics/helpers.scss";
@import "./basics/vars.scss";

@import "./basics/layouts.scss";
@import "./basics/basic.scss";
@import "./cmps/header.scss";
@import "./cmps/itemPreview.scss";
@import "./cmps/itemDetails.scss";

@import './pages/home.scss';
@import './pages/shop.scss';
@import './pages/cart.scss';

@import "./pages/home.scss";
* {
    margin: 0;  
    box-sizing: border-box;

}
.main-container{
    background-color: $clr4;

}
img{
width:  100%;
}