.cart-container {
    background-color: $clr4;
    height: 100vh;
    padding-top: 20px;

    h1 {
        margin-left: 10px;

    }
}

.items-container {
    min-width: 300px;
    height: fit-content;
    overflow: scroll;
    background-color: white;
    -webkit-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
}

.payment-container {
    width: 300px;
    height: 200px;
    background-color: white;
    -webkit-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
}

li {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    input {

        width: 110px;
    }

    img {
        width: 120px;
    }

    &.shop-title {
        border-bottom: 1px solid #ebe5e5;
    }
}

.edit-amount {
    width: 50px;
}