.cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    @include for-mobile-layout {
        grid-template-columns: 1fr ;

    }
}
.cart-wide{
    height: calc(100vh - 166px);
    @include for-mobile-layout{
        height: auto;
    }
}

.items-container {
    height: 60vh;
    padding: 0 1rem;
    overflow-y: scroll;
    background-color: white;
    -webkit-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    .shop-title {
        border-bottom: 1px solid #ebe5e5;
        font-size: 1.5rem;
    }
    .cart-item {
        padding: 1rem 0;
        position: relative;
        border-bottom: 1px solid #ebe5e5;
        .img-container {
            width: 120px;
            img {
                width: 100%;
            }
        }
        p {
            margin: 0;
            line-height: 1.4rem;
        }
        button {
            background-color: white;
            border: none;
            font-size: 1.5rem;
            top: 0;
            outline: none;
        }
        button:hover {
            color: red;
        }
    }
}



.payment-container {
    height:fit-content;
    -webkit-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 1px 61px -19px rgba(0, 0, 0, 0.75);
    padding: 0 1rem;

    h2{
        border-bottom: 1px solid #ebe5e5;

    }

    .checkout-btn {
        outline: none;
        cursor: pointer;
        background-color: rgb(64, 175, 41);
        font-size: 1.7rem;
        color: white;
        border: none;
    }
    .payment-method {
        font-size: 1.5rem;
        margin-bottom: 15px;
        span{
            margin-right: 1rem;
        }
    }
    .totale-pay {
        margin-left: 35px;
        margin-right: 10px;
        border-bottom: 1px solid #ebe5e5;
    }
    
}


