.category {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 13px;
    font-size: 2rem;
}


.see-all {
    margin-left: 20px;
    font-size: 1.2rem;
}
.slick-slider {
    overflow: hidden;
}
.slick-track {
    div {
        padding: 0 3px;
    }

    img {
        width: 100%;
    }
    margin-bottom: 3rem;
}

.slick-prev::before,
.slick-next::before {
    color: rgb(146, 135, 135);
}
@include for-mobile-layout {
    .slick-next {
        top: 80px;
    }
    .slick-prev {
        top: 80px;
    }
}
.slick-prev {
    z-index: 4;
    left: 20px;
}
.slick-next {
    z-index: 4;
    right: 20px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;

}

.featured {
    width: 80%;
    .feature-img {
        width: 5rem;
        img {
            width: 100%;
        }
    }
}
.arrow {
    font-size: 1rem;
}

.promo-container {
    width: 90vw;
    margin: 0 auto;
}
.promo {
    position: relative;
    width: 50%;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .promo-description {
        color: white;
        position: absolute;
        top: 40%;
        left: 25%;
        font-size: 1em;
    }
    border: 3px solid white;
}
.slogen{
    margin:0;
    font-size: 3rem;
    margin-bottom: .4rem;
    max-width: 16ch;
    color: rgb(255, 255, 255);
    @include for-mobile-layout {
        font-size: 1.8rem;
    }
}