.items-carusel {

    margin-bottom: 50px;
    width: 80vw;
    img {
        height: 100%;
        display: block;
        margin: auto;
        width: 200px;
        border-radius: 20rem;
        object-fit: cover;


    }
    
}
.news {
    width: 60vw;
    div {
        height: 300px;
    }
    img {
        width: 100%;
        display: block;
        
    }
}
.slick-prev:before,
.slick-next:before {
    color: rgb(216, 213, 213);
}

.carusel-img {
    height: 180px;
}

.hero-text {
    position: relative;
    text-align: center;
    top:30%;
    color: white;
    font-size: 2rem;
}
.categories-container{
    width: 80vw;
}
.categorie-img{
   padding: 17px;
    width: 6em;
    img{
        width: 100%;
    }
}