.shope-info {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 100px);

}

.shop-about {
    grid-row: 3/4;
    grid-column: 3/5;
}

.shop-logo {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
    background-color: #f4f4f4;
    object-fit: cover;
    grid-column: 2/3;
    grid-row: 2/4;
    margin-top: 5rem;
}

.shop-front {

    grid-row: 3/4;
    grid-column: 3/5;
}

.shop-name {
    grid-row: 3/4;
    grid-column: 3/5;

}
.sort{
    background-color: white;
    width: 13rem;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align-last: center;
}







.farm-photo {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    overflow: hidden;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

///////////SHOP BUTTONS AND ACCORDION///////////////////



.msg{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}


.more{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.review{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.shop-details-btn {
    height: 3rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    align-self: center;
    justify-self: center;
    background: white;

}

.msg-btn:active {
    background-color: yellowgreen;
    transform: translateY(5px);
}





.reviews {
    opacity: 1;
    grid-column:2/6 ;
    grid-row: 5/6;
    p{
        margin-top: 1.3rem;
    }
}
