.shope-info{
    padding: 10px;
    border-bottom: .5px solid rgb(201, 201, 201);
}

.shop-logo{
    height: 100px;
    width: 100px;
}

.shop-map{
    height: 250px;
    width: 250px;
}
// .shop-interact{

// }
