.category-bar {
    transition: 0.4s;
    color: #e7e5e5;
    padding: 50px 20px 0;
    margin-top: 3px;
    width: 100%;
    height: fit-content;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #666;
    margin: 0 auto;

}

.categorie-img {
    width: 3em;
    font-weight: bold;
    img {
        width: 100%;
    }
}
