.category-bar {
    transition: 0.4s;
    padding: 3rem 0;
    width: 100%;
    height: fit-content;
    top: 0;
    top: 0;
    overflow: hidden;

    @include for-mobile-layout {
        
        .svg{
            width: 30px;
        }
        h3{
           font-size: .5rem;
        }
    }

    a {
        :hover {
            color: olive;
        }
        h3 {
            margin: 0;
        }
    }
}

