.main-header{
    height: 150px;
    background-color: white;

    position: sticky;
    top: 0;
    transition: .4s;

    &.smaller{
        height: 50px;
        z-index: 2;
    }

}

.main-nav{
    li{
        margin-right: 20px;
    }
}
