.main-header {
    height: 100px;
    position: sticky;
    top: 0;
    transition: 0.4s;
    z-index: 212;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #241f1c;
    font-size: 1.3rem;
    img{width: 120px;}
    .categories{
        display: none;
    }
    &.smaller {
        a{
            height:  100%;
        }
        height: fit-content;
        .categories{
            display: block;
        }
    }
    &.transparent{
        border-bottom:none;
        position: fixed;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);

        input,.search-btn{
            display: none;
        }
        &.white{
            background-color: rgb(255, 255, 255);
            input,.search-btn{
                display: block;
            }
            border-bottom: 2px solid #241f1c;

        }
    }

    @include for-mobile-layout {
        .search{
            width:142px;
        }
    }
}

.main-nav {
    margin: 0;
    padding: 0;
    li:not(:last-child) {
        margin-inline-end: 40px;
    }
    li {
        display: flex;
        a {
            color: #241f1c;
            font-weight: bold;
            padding: 2.5rem 0;
            align-self: center;
        }
    }
}
.container {
    margin: 0 auto;
    padding-left: .6rem;
    padding-right: .6rem;
}
.btn-menu{
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.5rem;
    color: #241f1c;

}
@media (max-width: 840px) {
    .btn-menu{
        display: block;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #fff;
        border-left: 1px solid #e8e8e8;
        min-width: 200px;
        transform: translateX(100%);
        transition: transform .6s;
    }
    
    .menu-open {   
        transform: translateX(0);
    }

    .main-nav li {
        margin: 0 !important;
        border-bottom: 1px solid #e8e8e8;
        text-align: center;
    }
    .main-nav a {
        transition: background-color .3s;
        width: 100%;
    }
    .main-nav a:hover {
        background-color: #e8e8e8;
    }
}
.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s;
    &.menu-open{
        visibility: visible;
        opacity: 1;
    }
}

