.item-preview{
    width : 250px;
    input{
        width: 30px;
    }
}

.items-page{
    padding: 30px 0;
    display: grid;
    grid-template-columns: minmax(20px,1fr) 1050px minmax(20px,1fr);
    grid-template-rows: 100px auto 60px 150px;
    grid-row-gap: 20px;
    form{
        grid-column: 2;
        grid-row: 1;
    }
    
    .item-list{
        grid-column: 2;
        grid-row: 2;
    }
    .shops-link{
        grid-column: 2;
        grid-row: 3; 
    }
    .shops-of-item{
        grid-column: 2;
        grid-row: 4;
    }
}

.item-list{
    img{
        height: 190px;
        width:100%;
    }
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-auto-rows: 300px;
    gap:15px;
}

.shops-link{
    font-size:1.5rem ;
}
.add-to-cart{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #3e3e3e;
    outline: none;
    background-color: white;
    width: 150px;
    height: 30px;
}

.add-to-cart:active{
    color: #12b668;;
    transform: translateY(2px);
}
