.item-preview {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    cursor: pointer;
    .preview-details {
        font-size: 1.3rem;
        padding: 0 15px 5px 15px;
    }
    a {
        font-weight: 600;
    }
    .star {
        // font-weight: 600;
        font-size: 0.7rem;
    }
    input {
        width: 30px;
    }
    .img-container {
        cursor: pointer;
        @include aspect-ratio(1.4, 1);
    }
    @include for-mobile-layout {
        display: flex;
        .img-container {
            width: 50%;
        }
        .preview-details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            h3 {
                margin: 10px 0 15px 0;
            }
        }
    }
}
.sort{
    height: 3rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 10rem;
    background: white;
    text-align-last: center;
    margin-bottom: 1rem;
}

.item-list {
    margin-bottom: 2rem;
    img {
        width: 100%;
    }
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.shops-link {
    font-size: 1.5rem;
}

.add-to-cart {
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 23, 23, 0);
    height: 30px;
}

.add-to-cart:active {
    color: #12b668;
    transform: translateY(2px);
}
