.items-page {
    padding: 30px 0;
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 100px auto 60px 150px;

    @include for-mobile-layout {
        grid-template-columns: minmax(20px, 1fr) $mobile-breakpoint minmax(20px, 1fr);
    }

    @include for-narrow-layout {
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: minmax(20px, 1fr) $normal-breakpoint minmax(20px, 1fr);
    }

    & > * {
        grid-column: 2;
    }

    form {
        grid-row: 1;
    }

    .item-list {
        grid-row: 2;
    }

    .shops-link {
        grid-row: 3;
    }

    .shops-of-item {
        grid-row: 4;
    }
}

.item-preview {
    // width: 100%;
    input {
        width: 30px;
    }

    @include for-narrow-layout {
        display: flex;
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        .img-container {
            width: 50px;
        }
    }
}

.item-list {
    img {
        
        height: 190px;
        width: 100%;
    }
    display: grid;
    gap: 15px;

    @include for-wide-layout {
        grid-template-columns: repeat(4, 250px);
        grid-auto-rows: 300px;
    }
    @include for-normal-layout {
        grid-template-columns: repeat(3, 200px);
        grid-auto-rows: 300px;
    }
    @include for-narrow-layout {
        grid-template-columns: auto;
        grid-auto-rows: 150px;
    }
    @include for-mobile-layout {
        grid-template-columns: 400px;
        grid-auto-rows: 150px;
    }
}

.shops-link {
    font-size: 1.5rem;
}
.add-to-cart{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #3e3e3e;
    outline: none;
    background-color: white;
    width: 150px;
    height: 30px;
}

.add-to-cart:active{
    color: #12b668;;
    transform: translateY(2px);
}
