.item-details-container {
    padding: 30px 0;
    background-color: #ebe5e5;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) 1000px minmax(20px, 1fr);
    row-gap: 30px;
    *{
        grid-column: 2;
    }
    h3{
        margin-top: 20px;
    }
    .item-details > * {
        margin-bottom: 20px;
        a {
        text-decoration: underline olive;
        }
    }
    img {
        width: 430px;
        margin-right: 20px;
    }
    
    .description {
        flex-grow: 1;
    }
    h5{
        font-size: 1.4rem;
    }
}
