.search-form {
    position: relative;
}
.search {
    border:  none;
    outline: none;
    border-radius: 55px;
    padding: 0.5rem;
    width: 13rem;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28)
    ;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 3px;
    top: 9px;
    border: none;
    border-radius: 55px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: #757575;
}
.home-search{
    width: 40vw;
    .search{
        width: 100%;
        font-size: 1.2rem;
        padding: 1.2rem ;
        color: black !important;
        background-color: rgba(255, 255, 255, 0.877);


    }
    .search-btn {
        font-size: 1.2rem;
        background-color: rgba(255, 255, 255, 0);

        top: 20px;
        right: 15px;

    }
    @include for-mobile-layout {
        width: 60vw;

    }
}
::placeholder {
    color: #757575;
    opacity: 1; 
  }
  