.hero-image {
    background-image: url("https://wallpapersmug.com/download/3840x2400/38c814/farms_house_landscape.jpg");
    width: 100%;
    height: 84vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    margin-bottom: 2rem;
}
.grid-container {
    display: grid;

    @include for-mobile-layout {
        grid-template-columns:
            minmax(5px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(5px, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns:
        minmax(5px, 1fr)
        minmax(auto, $narrow-breakpoint)
        minmax(5px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns:
        minmax(5px, 1fr)
        minmax(auto, $narrow-breakpoint)
        minmax(5px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(1.6rem, 1fr)
            minmax(auto, $wide-breakpoint)
            minmax(1.6rem, 1fr);
    }

    > * {
        grid-column: 2;
        &.full {
            grid-column: 1/-1;
        }
    }
}
.img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    color: white;
    width: 100%;
    h2 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a{
        width: 100%;
        height: 100%;
    }
}


.collage-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    margin-bottom: 6rem;
    
    .img-container {
        &.main-img {
            grid-column: 1/2;
            grid-row: 1/3;
            background-image: url("https://images.unsplash.com/photo-1550081699-79c1c2e48a77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
            border-right: 0.5rem solid white;
            height: 40rem;

        }
        &.second-img {
            grid-row: 1/2;
            background-image: url("https://images.unsplash.com/photo-1524641619328-f3b7444f7afa?ixlib=rb-1.2.1&auto=format&fit=crop&w=664&q=80");
            border-bottom: 0.5rem solid white;
        }
        &.third-img {
            grid-row: 2/3;
            background-image: url("https://images.unsplash.com/photo-1504945005722-33670dcaf685?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
        }
        @include for-mobile-layout {
            &.main-img {
                grid-column: 1/-1;
                grid-row: 1/-1;
                border: none;
            }
        }
    }
}

.offers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    gap: 8px;
    margin-bottom: 3rem;

    @include for-mobile-layout {
        grid-template-columns: 1fr 1fr;

    }

    .img-container {
        color:  black ;

        &.meat-img {
            grid-column: 1/2;
            background-image: url("https://images.unsplash.com/photo-1560781290-7dc94c0f8f4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
            height: 25rem;

        }
        &.cheese-img {
            grid-column: 2/3;
            background-image: url("https://images.unsplash.com/photo-1558221693-89a565d7ecd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
        }
        &.bread-img {

            grid-column: 3/4;
            background-image: url("https://images.unsplash.com/photo-1573504241177-69684aba8fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
        }
        @include for-mobile-layout {
            &.meat-img {
               display: none;;
            }
            &.cheese-img {
                grid-column: 1/2;
                height: 20rem;

            }
            &.bread-img {
                grid-column: 2/3 ;
            }
            @include for-mobile-layout {

                &.cheese-img {
                    height: 20rem;

                }

            }
        }
    }
}
